main {
    box-sizing: border-box;
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

.text {
    font-size: 20px;
}

.cellBlocks {
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px; 
    cursor: pointer;
    margin: 0 auto;

}

.c1 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}

.c2 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}

.c3 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}  

.c4 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}   

.c5 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}

.c6 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}

.c7 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}

.c8 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}

.c9 {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    border: 2px solid black;
}

.winningMessage {
    display: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
}

.winningMessage button {
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.fightButton button {
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}


.PlayerX {
    background-image: url(./img/punch.jpeg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.PlayerO {
    background-image: url(./img/kick.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}